.App {
  text-align: center;
}

.nav-link {
  text-decoration: none;
  padding-top: 20px;
  padding-bottom: 20px;
}
.nav-link-active {
  background-color: #181818;
  box-shadow: inset 7px 0px 0px 0px #1db954;

  /* border-left: 7px solid#1db954; */
}

@media only screen and (max-width: 768px) {
  .nav-link-active {
    /* border-left: 0px solid#1db954;
    border-top: 7px solid#1db954; */
    box-shadow: inset 0px 7px 0px 0px #1db954;
  }

  .nav-link {
    width: 20%;
  }
}

.active {
  color: white !important;
  border-bottom: 2px solid white;
}

a img {
  border-style: none;
}

a:hover,
a:visited,
a:link,
a:active {
  text-decoration: none;
}

.card {
  width: 80px;
  height: 80px;
  position: relative;
  display: inline-block;
  text-align: center;
}
.card .img-top {
  display: none;
  position: absolute;
  left: 50%;
  top: 20%;
  transform: translateX(-50%);
  z-index: 99;
}

.display {
  display: flex;
  flex-direction: row;
  width: 100vw;
}

.trackDisplay {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: left;
  width: 800px;
  min-width: 800px;
  list-style-type: none;
  margin: 0 100px 0 0;
  padding: 0;
}

.trackShowcase {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 200px;
}
