.App {
  text-align: center;
}

.nav-link {
  text-decoration: none;
  padding-top: 20px;
  padding-bottom: 20px;
}
.nav-link-active {
  background-color: #181818;
  border-left: 7px solid#1db954;
}

.active {
  color: white !important;
  border-bottom: 2px solid white;
}

a img {
  border-style: none;
}

a:hover,
a:visited,
a:link,
a:active {
  text-decoration: none;
}

.card {
  width: 80px;
  height: 80px;
  position: relative;
  display: inline-block;
  text-align: center;
}
.card .img-top {
  display: none;
  position: absolute;
  left: 50%;
  top: 20%;

  transform: translateX(-50%);

  z-index: 99;
}

.display {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100vw;
}

.trackShowcase {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
}
